@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
    margin: 0px;
    padding: 0px;   
}

a.externo::after {
    content: '\00A0\1F517';
}

body {
    background-image: url(../imagens/4.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: black;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: #ee8242;
    font-family: 'Kalam', cursive;
    font-size: 2.5em;
    font-weight: normal;
    font-style: italic;
    padding-top: 2px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.464);
}

header > p {
    color: #ee8242;
    font-family: 'Kalam', cursive;
    font-style: italic;
    font-size: 1.4em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin:auto;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.464);
}

main {
    background-color: rgba(0, 0, 0, 0.344);
    color: white;
    min-width: 80px;
    max-width: 700px;
    height: 420px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.488);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p {
    margin: 5px 0px;
    text-align: justify;
    text-indent: 30px;     
    font-size: 0.9em;
    line-height: 1.2em;    
}

main a {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}

main a:hover {
    background-color: #ee8242;
    color: var(--cor5);
    text-decoration: underline;
}

aside {
    position: relative;
    height:280px;
    padding: 10px;
    border-radius: 10px;
}

aside > h2 {
    font-family: 'Kalam', cursive;
    font-style: italic;
    font-size: 1.5em;
    position: absolute;
    bottom: 80px;
    left: 15px;
    color: #ee8242;
    font-weight: normal;
    padding: 10px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0'; 
    list-style-position: inside;
    position: absolute;
    bottom: -50px;
    left: 10px;
    font-size: 0.9em;
}

.fotoperfil {
    position: relative;
    width: 100%;
    height: 100vh;
    bottom: -180px;
    left: 520px;
}

@media screen and (max-width: 580px) {
    .fotoperfil {
    position: relative;
    bottom: -200px;
    left: 320px;
    }
  }

@media screen and (max-width: 580px) {
    aside > ul {
    position: absolute;
    bottom: -40px;
    left: 10px;
    }
  }
