@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
    margin: 0px;
    padding: 0px;   
}

a.externo::after {
    content: '\00A0\1F517';
}

body {
    background-image: url(../imagens/4.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: black;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: #ee8242;
    font: italic normal 2.5em 'Kalam', cursive;
    padding-top: 2px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.464);
}

header > p {
    color: #ee8242;
    font: italic 1.4em 'Kalam', cursive;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin:auto;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.464);
}

main {
    background-color: rgba(0, 0, 0, 0.344);
    color: white;
    min-width: 80px;
    max-width: 700px;
    height: 420px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.488);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p {
    margin: 5px 0px;
    text-align: justify;
    text-indent: 30px;     
    font-size: 0.9em;
    line-height: 1.2em;    
}

main a {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}

main a:hover {
    background-color: #ee8242;
    color: var(--cor5);
    text-decoration: underline;
}

div.english {
    position: absolute;
    bottom: -70px;
    left: 285px;
    font-size: 0.7em;
    text-align: center;
}

aside {
    position: relative;
    height:280px;
    padding: 10px;
    border-radius: 10px;
}

div > h2 {
    font: italic normal 1.5em 'Kalam', cursive;
    position: absolute;
    bottom: 90px;
    left: -15px;
    color: #ee8242;
    padding: 10px;
}

div > ul {
    list-style-type: '\2714\00A0\00A0'; 
    list-style-position: inside;
    position: absolute;
    bottom: -30px;
    left: -15px;
    font-size: 0.9em;
}

.fotoperfil {
    position: relative;
    width: 100%;
    height: 100vh;
    bottom: -180px;
    left: 520px;
}

.socialhover > ul {
  background-color: #ee814231;
  color: white;
  transition: background-color 2 ease;
  border-radius: 10px;
  display: none;
}

.socialhover:hover > ul {
  display: block;
  font-weight: bold;
}

footer {
  background-image: linear-gradient(to right, #ee81425b, #e0530262, rgba(0, 0, 0, 0.219));
  color: white;
  text-align: center;
  font-size: 0.6em;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer .backpic {
  text-decoration: none;
  color: white;
}

.backpic:hover {
  text-decoration: underline;
}

@media screen and (max-width: 580px) {
    div.english {
    position: relative;
    bottom: -110px;
    left: -50px;
    }
  }

@media screen and (max-width: 580px) {
    .fotoperfil {
    position: relative;
    bottom: -165px;
    left: 300px;
    }
  }

@media screen and (max-width: 580px) {
    aside > ul {
    position: absolute;
    bottom: -40px;
    left: 10px;
    }
  }

